/* =============
    parts
============= */

#parts{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". parts .";
    padding-top: 32px;
    background-color: var(--cantelope100);
    padding-bottom: 120px;

    @include lg{

        padding-bottom: 200px;
        grid-template-columns: 180px auto 180px;

       
    }



   >div{

        grid-area: parts;

        

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        

        @include lg{

           

          

            #blade{
                background-color: var(--cherry90);
                

                
               padding: 20px 0px;

                

                display: flex;
                justify-content: center;
                gap: 20px;





                div{
                    
                    
                    width: 400px;
                    height: 400px;
                    
                    display: flex;
                    
                    ul{
                        margin-top: auto;
                    }
                }    

            }

            #handle{

                background-color: var(--cherry90);
                

                
                margin-top: 40px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                padding: 20px;

  
               
                
                gap: 20px;

                div{
                    

                    width: 400px;
                    height: 400px;
                    
                    display: flex;

                    ul{
                        // margin-top: auto;
                       
                    }
                }    
                }

                
        }
      

        }

       
        }
    
