/* =============
    product
============= */

#product{

    background-color: var(--cherry90);


    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". product .";
    padding-bottom: 40px;
    padding-top: 32px;

    >div{


        grid-area: product;




        img{
            width: 100%;
            max-width: 946px;
            
        }

      

           
    }
}
