/* =============
    Base
============= */

button{

    background-color: var(--light-orange);
    color: white;
    border: none;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

input{

    border: none;
    
   
}
ul{
    margin: 0;
    padding: 0;

    li{

        list-style: none;       
    }
}

.large-images{
    width: 100%;
}

.logo{

    padding-top: 3%;
    padding-bottom: 2%;

    width: 50%;
}

.show-md{

    display: none;
    @include md{

        display: block;
    }
}

.show-large{
    display: none;
    @include lg{

        display: block;
    }

}


.show-xl{

    display: none;
    @include xl{

        display: block;


}
    
    }