/* =============
    Hero2
============= */
#Hero2{
    display: flex;
    flex-direction: column;

    #h1{

        background-image: url(../image/Heros/glass_animals.jpg);
        height: 400px;
        background-position: center;
        background-size: cover;

   @include md{

    height: 600px;
   }
    }

    #h2{

        background-image: url(../image/Heros/madonna.jpg);
        height: 400px;
        background-position: center;
        background-size: cover;

   @include md{

    height: 600px;
   }

    }

        @include md{

            display: grid;
            grid-template-columns: 50% auto;
        }
       
        @include xl{


            display: grid;
           
            
            grid-template-columns: repeat(2,1fr);
            grid-template-areas: "h3 h2"
            "h3 h1";

            #h1{
                grid-area: h1;
                width: 100%;
            }
            #h2{
                grid-area: h2;
                width: 100%;
            }
            #h3{
                grid-area: h3;
                width: 100%;
                background-image: url(../image/Heros/Rhianna.jpg);
                background-position: center;
                background-size: cover;


            }
        }
        
    }
