/* =============
    HeroCards
============= */

#HeroCards{

  background-color: var(--dark-purple);
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". HeroCards .";

  >div{

    grid-area: HeroCards;


    ul{
      margin: 16px;
           
      @include md{

        display: grid;
        grid-template-columns: 50% auto;
        gap: 16px;
        margin-bottom: 0; 
        max-width: 992px;   
      }

      li{

        background-color: white;
        padding: 8px 16px;
        margin-bottom: 16px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        div{
          


          h1{


          }

          button{

            width: 98px;
            height: 27px;
            padding: 8px 24px;
            text-align: center;


          }

          
        }
    
      }

      }
    }
  
  }