/* =============
    HeroCards
============= */

#HeroCards{

  background-color: var(--dark-purple);
  padding-top: 24px;
  
  display: flex;
  flex-direction: column;
  //justify-content: space-around;


  @include md{


    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". HeroCards .";



  }

  
  

 >div{

    grid-area: HeroCards;
  


 

    ul{
  
           
      @include md{

        display: flex;
        justify-content: center;
       
        gap: 16px;
        margin-bottom: 0; 
        

        li{
          width: 100%;
          max-width: 500px;
        }

       

          
      }



      li{

        background-color: white;
        padding: 16px;
        margin-bottom: 16px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

         #about-left{

            background-image: url(../image/Heros/about_left.jpg);
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border: 5px solid var(--light-orange);
            background-position: top;

            @include md{

              height: 120px;
              width: 120px;
            }

          }

          #about-right{

            background-image: url(../image/Heros/about_right.jpg);
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border: 5px solid var(--light-orange);
            background-position: top;
            

            @include md{

              height: 120px;
              width: 120px;
            }

          }

          


        div{

          

          h1{

            padding-right: 16px;

            font-weight: 600;


          }

          button{

            width: 98px;
            height: 27px;
            
            


          }

         

          
        }
    
      }

      }
    }
  
  }