/* =============
    HeroCards
============= */

#HeroCards{

  background-color: var(--dark-purple);
  padding-top: 24px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;


  @include md{


    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". HeroCards .";



  }

  
  

 >div{

    grid-area: HeroCards;
  


 

    ul{
  
           
      @include md{

        display: grid;
        grid-template-columns:repeat(2,1fr);
        gap: 16px;
        margin-bottom: 0; 
        width: 100%;

          
      }



      li{

        background-color: white;
        padding: 16px;
        margin-bottom: 16px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;


        div{

          

          h1{

            padding-right: 16px;


          }

          button{

            width: 98px;
            height: 27px;
            
            


          }

          img{

       
          }

          
        }
    
      }

      }
    }
  
  }