/* =============
    Search
============= */
#Search{

    background-color: white;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";

    >div{


        grid-area: search;


    
        ul{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 16px;
            padding-top: 8px;
            width: 100%;
           
            #top-button{

                color: white;
                width: 61px;
                height: 49px;
            }

            #input{

                min-width: 245px;
        
                max-width: 999px;
                height: 43px;
            }
      }
    }
}