/* =============
    Search
============= */
#Search{

    background-color: var(--white);
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";
    padding: 16px 0px;

    >div{


        grid-area: search;


        form{
            display: flex;
            
            justify-content: center;
            align-content: center;
            gap: 4px;

            #input{

                border-bottom: 1px solid var(--dark-purple);
                width: 100%;
                max-width: 1000px;
               height: 43px;

               font-size: 14px;

               @include md{
                font-size: 25px;
               }

               @include lg{
                font-size: 35px;
               }
           }

           button{
            padding: 0px 16px;
            border-radius: 3.5px;

           }


        }
        

           
      }
    }