/* =============
    WhatsNew
============= */

#WhatsNew{

  display: grid;
  grid-template-columns: 16px auto 16px ;
  grid-template-areas: ". WhatsNew .";
  background-color:var(--dark-purple);
  width: 100%;

  >div{

    grid-area: WhatsNew;
    margin-bottom: 24px;

    #new{

      color: white;
      margin-top: 36px;
      font-weight: 600;

    }

    
    ul{

      @include md{

        display: grid;
        gap: 16px;
        margin-top: 0px; 
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: 
        ". new new ."
        "c1 c1 c2 c2"
        "c3 c3 c4 c4"
        ". c5 c5 .";
      }
      @include lg{

        display: grid;
        gap: 16px;
        margin-top: 0px; 
        grid-template-columns: repeat(6,1fr);
        grid-template-areas: 
        "c1 c1 c2 c2 c3 c3"
        ". c4 c4 c5 c5 ."

      }
      
      }

      li{
        background-color: var(--white);

        img{

          width: 100%;
          padding: none;
        }

        //background-color: white;
        text-align: center;
        padding-bottom: 16px;
        margin-top: 24px; 

        button{

          height: 27px;
          width: 98px;
          text-align: center;
        }
    }
 #c1{

      grid-area: c1;
  
    }

    #c2{

      grid-area: c2;
  
    }

    #c3{

      grid-area: c3;
  
    }

    #c4{

      grid-area: c4;
  
    }

    #c5{

      grid-area: c5;
  
    }



   

  }
 
}