/* =============
    footer
============= */

#footer{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    padding-bottom: 24px;
    padding-top: 24px;


    
  >div{

      grid-area: footer;
  

    #locations{

      
      grid-area: locations;

      h1{

        color: var(--dark-purple);
      }

      ul{
  

        li{

          
        }
      }
     
    }

    #follow{

      grid-area: social-icons;

      

      ul{

        display: flex;
        gap: 24px;

      }

   
    }

    #newsletter{

      grid-area: newsletter;
      height: 164px;
     
      

      h1{


      }

      div{

        display: flex;
        flex-direction: column;


        
        #email-input{

          grid-area: email-input;

          background-color: var(--pale-orange);
          
          height: 50px;
          
    
  
        }
  
        #sign-up{

          grid-area: sign-up;
          width: 76px;
          height: 27px;
          margin-top: 16px;
          margin-left: auto 
           
         
        }
      }
    }

    @include md{


      display: grid;
      gap: 16px;
      row-gap: 16px;
      grid-template-columns: repeat(2,1fr);
      grid-template-areas: 
      "locations newsletter"
      "locations social-icons";
    }

    @include lg{


      display: grid;
      
      grid-template-columns: repeat(3,1fr);
      grid-template-areas: 
      "locations newsletter social-icons";
    }
}


   
}