/* =============
    Header
============= */

#header{
  background-color: var(--dark-purple);;  

  display: grid;
  grid-template-columns: 5% 75% auto;
  grid-template-areas: ". header .";

  >div{

    grid-area: header;

    img{

      
    }


  }
}